extends layout

block content
    .body-gray
        .col-md-3
            .row.pinRow#mainPin
                
                .pinItem
                    .pinBox#shopBox.pinWell.margin-bottom-15
                        a(href='#{data.systemUrl}/shop_register')
                            picture
                                source(srcset="https://images.#{data.websiteDomain}/web/box/shop_register.webp", type="image/webp")
                                source(srcset="https://images.#{data.websiteDomain}/web/box/shop_register.jpg", type="image/png")
                                img.img-responsive(src="https://images.#{data.websiteDomain}/web/box/shop_register.jpg")
                        .message-lg.text-center
                            strong สนใจเปิดช็อป
                
                .pinItem
                    .pinBox#shopBox.pinWell.margin-bottom-15
                        a(href='#{data.systemUrl}/premium_product')
                            picture
                                source(srcset="https://images.#{data.websiteDomain}/web/box/premium_product.webp", type="image/webp")
                                source(srcset="https://images.#{data.websiteDomain}/web/box/premium_product.jpg", type="image/png")
                                img.img-responsive(src="https://images.#{data.websiteDomain}/web/box/premium_product.jpg")
                        .message-lg.text-center
                            strong สินค้าพรีเมี่ยม
                        
                include check_remax_product_box

        .col-md-9
            .row.pinRow
                .pinItem
                    .pinBox.pinWell.margin-bottom-15
                        a(href='#{data.systemUrl}/category/new')
                            picture
                                source(srcset="https://images.#{data.websiteDomain}/category/new_arrivals/1.webp", type="image/webp")
                                source(srcset="https://images.#{data.websiteDomain}/category/new_arrivals/1.jpg", type="image/png")
                                img.img-responsive(src="https://images.#{data.websiteDomain}/category/new_arrivals/1.jpg")
                        .message-lg.text-center
                            strong สินค้ามาใหม่
                each values in data.category
                    .pinItem(id=values.url)					
                        .pinBox.pinWell.margin-bottom-15
                            a(href='#{data.systemUrl}/category/'+values.url)
                                picture
                                    source(srcset="https://images.#{data.websiteDomain}/category/"+values.url+"/1.webp", type="image/webp")
                                    source(srcset="https://images.#{data.websiteDomain}/category/"+values.url+"/1.jpg", type="image/png")
                                    img.img-responsive(src="https://images.#{data.websiteDomain}/category/"+values.url+"/1.jpg")
                            .message-lg.text-center
                                strong= values.name
                            
    #modal-news.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog.modal-lg(role='document')
            .modal-content.modal-content-black
                .modal-body
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span.badge(aria-hidden='true') ×
                    img.img-responsive.no-radius(src='')
